{% extends 'base.html.twig' %}

{% block title %}
	Fiche produit
	{{ ordinateur.nom }}
	{{ parent() }}
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<div class="block-detail">
			<div class="block-detail-slider mt-4">
				{% include 'Frontend/Ordinateurs/_sliderDetail.html.twig' %}
			</div>
			<div class="block-detail-content mt-4">
				<h1 class="text-center mb-4">{{ ordinateur.nom|sanitize_html|striptags }}</h1>
				<p class="mt-4 mb-4">Prix :
					{{ ordinateur.prix }}
					€</p>
				<p class="mt-4 mb-4">Marque :
					{{ ordinateur.marque.nom }}</p>
				<p class="mt-4 mb-4">Description :
					<br>
					{{ ordinateur.description|sanitize_html|striptags }}</p>
				<div class="block-button">
					<a href="{{ path('app.contact') }}" class="text-center link">Une question ? Contacter nous.</a>
					<a href="#" class="text-center btn btn-secondary">Ajouter au panier</a>
				</div>
			</div>

		</div>
	</section>
{% endblock %}
