<div class="block-footer">
	<footer>
		<div class="block-footer-social text-center">
			<a href="https://www.instagram.com/">
				<i class="bi bi-instagram"></i>
			</a>
			<a href="https://www.snapchat.com/">
				<i class="bi bi-snapchat ml-4 mr-4"></i>
			</a>
			<a href="https://twitter.com/">
				<i class="bi bi-twitter mr-4"></i>
			</a>
			<a href="https://www.facebook.com/">
				<i class="bi bi-facebook"></i>
			</a>
		</div>
		<ul class="block-footer-list">
			<li class="block-footer-list-item">
				<a href="{{ path('app.homepage') }}">Nos Produits</a>
			</li>
			<li class="block-footer-list-item">
				<a href="{{ path('mentions.legales') }}">Mentions légales</a>
			</li>
			<li class="block-footer-list-item">
				<a href="{{ path('.cgv') }}">CGV</a>
			</li>
			<li class="block-footer-list-item">
				<a href="{{ path('.donneesPerso') }}">Données Personnelles</a>
			</li>
			<li class="block-footer-list-item">
				<a href="{{ path('.cookies') }}">Utilisation des Cookies</a>
			</li>
		</ul>
		<p class="copyright text-center">High Tech Cheap © 2023</p>
	</footer>
</div>
