<header class="navbar">
	<nav class="container navbar-content">
		<div class="navbar-left">
			<a href="/" class=>
				<i class="bi bi-pc-display logo"></i>
			</a>
		</div>
		<div class="navbar-right">
			<ul class="navbar-nav">
				<li class="navbar-item">
					<a href="/" class="navbar-link">Téléphones</a>
					<a href="/" class="navbar-link">Tablettes</a>
					<a href="/" class="navbar-link">Ordinateurs</a>
					<a href="/" class="navbar-link">Contact</a>
				</li>
			</ul>
		</div>
		<div class="navbar-btn">
			{% if app.user %}
				{% if is_granted('ROLE_ADMIN') %}
					<div class="dropdown btn navbar-btn btn-light">
						<span class="me-2">Admin</span>
						<div class="dropdown-content">
							<a href="{{ path('admin.telephones.index') }}" class="dropdown-link">Téléphones</a>
							<a href="#" class="dropdown-link">Tablettes</a>
							<a href="#" class="dropdown-link">Ordinateurs</a>
							<a href="#" class="dropdown-link">Contact</a>
						</div>
					</div>
				{% endif %}
				<a href="/">
					<i class="bi bi-cart4 panier"></i>
				</a>
				<a class="btn btn-primary" href="{{ path('compte') }}">Mon Compte</a>
				<a class='btn btn-primary' href="{{ path('app.logout') }}">Se deconnecter</a>

			{% else %}
				<a href="{{ path('app.register') }}" class="btn btn-primary">S'inscrire</a>
				<a class='btn btn-primary' href="{{ path('app.login')}}">Se connecter
				</a>
			{% endif %}
		</div>

	</nav>
</header>
